<!-- Default Basic Forms Start -->
{{ form_start(form, { attr: { class: 'container' } }) }}


<!-- Corps du formulaire -->
<div class="card-body">
    <div class="row g-3">

        <!-- Catégorie -->
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label(form.category, 'Nom de la catégorie') }}
                {{ form_widget(form.category, { attr: { class: 'form-control' } }) }}
                {{ form_errors(form.category) }}
            </div>
        </div>

        <!-- Titre de l'article -->
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label(form.title, 'Titre de l\'article') }}
                {{ form_widget(form.title, { attr: { class: 'form-control', placeholder: 'Entrez le titre de l\'article' } }) }}
                {{ form_errors(form.title) }}
            </div>
        </div>

        <!-- Description -->
        <div class="col-lg-12">
            <div class="form-group">
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, { attr: { class: 'form-control', rows: 5, placeholder: 'Entrez le contenu de l\'article' } }) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <!-- Champ de fichier image -->
        <div class="col-lg-12 mt-4">
            <div class="form-group">
                {{ form_label(form.imageFile, 'Image de l\'article') }}
                {{ form_widget(form.imageFile, { attr: { class: 'form-control-file' } }) }}
                {{ form_errors(form.imageFile) }}
            </div>
        </div>

    </div>
</div>

<!-- Bouton de soumission -->
<div class="card-action text-center mb-4">
    <button type="submit" class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>


{{ form_end(form) }}